* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Style  */
body {    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

a {
    text-decoration: none;
    color: #000000;
}

.btn {
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


/* Navbar Section */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 7%;
    height: 92px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}


/* hero section */
.hero {
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    width: 770px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.circle-icon {
    margin-bottom: 16px;
}

.circle-wrap {
    position: relative;
    left: 10px;
    top: 25px;
}

.outer {
    width: 16px;
    height: 16px;
    background-color: #b8ebd0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle {
    width: 10px;
    height: 10px;
    background-color: #8fc9a8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    width: 5px;
    height: 5px;
    background-color: #469165;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.early-access-badge {
    font-size: 16px;
    width: 229px;
    height: 35px;
    background-color: rgba(255, 255, 255, 1);
    color: #30B868;
    border-radius: 10000px;
    padding: 8px 12px;
    text-align: right;
}

.hero-content h2{
    font-size: 72px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 16px;
}
.hero-content h2 span {
    color: rgba(48, 184, 104, 1);
}

.hero-description p {
    width: 610px;
    color: white;
    text-align: center;
    margin-bottom: 32px;

    
}

.hero-btns {
    display: flex;
    gap: 16px;
}

.btn-play {
    background: transparent;
    border: 1px solid white;
    color: #FFFFFF;
    font-weight: 400;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}