* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------Shared Style----------  */
body {    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

a {
    text-decoration: none;
    color: #000000;
}

.btn {
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


/* ----------Navbar Section---------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 7%;
    height: 92px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}


/* ----------hero section---------- */
.hero {
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    width: 770px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.circle-icon {
    margin-bottom: 16px;
}

.circle-wrap {
    position: relative;
    left: 10px;
    top: 25px;
}

.outer {
    width: 16px;
    height: 16px;
    background-color: #b8ebd0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle {
    width: 10px;
    height: 10px;
    background-color: #8fc9a8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    width: 5px;
    height: 5px;
    background-color: #469165;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.early-access-badge {
    font-size: 16px;
    width: 229px;
    height: 35px;
    background-color: rgba(255, 255, 255, 1);
    color: #30B868;
    border-radius: 10000px;
    padding: 8px 12px;
    text-align: right;
}

.hero-content h2{
    font-size: 72px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 16px;
}
.hero-content h2 span {
    color: rgba(48, 184, 104, 1);
}

.hero-description p {
    width: 610px;
    color: white;
    text-align: center;
    margin-bottom: 32px;

    
}

.hero-btns {
    display: flex;
    gap: 16px;
}

.btn-play {
    background: transparent;
    border: 1px solid white;
    color: #FFFFFF;
    font-weight: 400;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


/* ----------Problem Section---------- */
.problem-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
}

.problem-container {
    
    margin: 120px 120px 0;
    
    text-align: center;
}

.problem-container h2 {
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.problem-container p {
    color: #627382;
    font-size: 16px;
    margin-bottom: 44px;
}

.problem-container-cards {
    display: flex;
    text-align: center;
    gap: 24px;
    
}

.problem-container-cards-items {
    width: 322px;
    height: 322px;
    /* border: 1px solid green; */
    background-color: white;
    box-shadow: 10px 2px 10px rgba(128, 128, 128, 0.384);
    border-radius: 5px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.problem-container img{
    background-color: #F95555;
    width: 60px;
    height: 60px;
    padding: 14px;
    border-radius: 50%;
    margin: 20px;
}

.problem-container-cards h3 {
    color: #001931;
    font-size: 24px;
    margin-bottom: 20px;
}


/* ----------Solution Section---------- */
.solution-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: min(16px, 5vw);
    padding: 120px;
    
}

.solution-container img{
    width: 600px;
    height: 600px;
}

.solution-features p {
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}

.solution-features h2 {
    font-size: 48px;
    width: 600px;
    margin-bottom: 16px;
}

.solution-features p:nth-of-type(2)  {
    font-weight: 400;
    color: #627382;
    width: 460px;
    padding-bottom: 40px;
}

.solution-features li {
    padding-bottom: 16px;
    list-style: none;
}

.fa-circle-check {
    color: green;
}


/* ----------Early Access Section---------- */
.early-access-section {
    padding: 120px;
}

.early-access-container {
    background-color: #F7F6F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px;
}

.early-access-container h2 {
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

.early-access-container p {
    font-size: 16px;
    color: #627382;
}

.early-access-container p:nth-of-type(1){
    width: 580px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.early-access-container .btn {
    margin-bottom: 16px;
}


/* ----------Footer Section---------- */
.footer-section{
    background-color: #001931;
    padding: 120px 120px 30px;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 80px;
}

.footer-container h5 {
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.social-icon {
    color: white;
    background-color: #000000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 5px;
}

hr {
    border: none;
    height: 1.5px;
    background-color: #3c3d41;
    /* margin: 30px 0; */
}

.copyright {
    color: white;
    text-align: center;
    margin-top: 20px
}